@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* BACKGROUND AND MAIN BODY */
* {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: rgb(213, 218, 224);
}

#main-box {
    max-width: 540px;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    height: auto;
    padding: 10px;
    color: #fff;
    background: linear-gradient(210deg, #0081a7, #fed9b7);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
}

/* HEADER */
#main-box h1, #main-box h5 {
    text-align: center;
    background: transparent;
}

#app-header {
    justify-content: space-between;
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px;
}


#app-header h1, #app-header h5 {
    background: transparent;
}

#task-input {
    border: none;
    outline: none;
    background: hsl(194, 55%, 33%);
    margin: 0;
    font-size: 1rem;
    width: 60%;
    padding: 5px 10px;
    color: #0081a7;
}

#app-header button {
    border: none;
    outline: none;
    padding: 3px 10px;
    background: #f07167;
    color: #fff;
    font-size: 1rem;
    margin: 0;
    cursor: pointer;
}

/* SHOWCASE */
#task-showcase {
    margin: 10px 0;
    background: transparent;
}

ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    user-select: none;
}

ul li:hover {
    cursor: pointer;
}

ul li span {
    text-align: center;
    margin-right: 30px;
    background: hsl(194, 55%, 33%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 2rem;
}

ul li span:hover {
    background: hsl(207, 51%, 30%);
    cursor: pointer;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

#main-box p {
    color: #f07167;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}