@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COLOR PALETTES */
/* background: #ccdfe9; */
/* background: #e3d17d; */

* {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    background: rgb(213, 218, 224);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* background: #5b5cab; */
}

#main-box {
    max-width: 540px;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    /* min-height: 75vh; */
    height: auto;
    padding: 10px;
    color: #fff;
    /* background-color: #d9e3f1; */
    /* background: linear-gradient(135deg, #74ccbd, #e9f7f5); */
    background: rgb(0, 46, 65);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
}

#main-box h1, #main-box h5 {
    text-align: center;
    background: transparent;
}

/* APP HEADER */
#app-header {
    /* background: #e3d17d;  */
    /* text-align: center; */
    /* background: rgb(234, 237, 238); */
    justify-content: space-between;
    background: transparent;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px;
    /* position: absolute; */
}

#task-input {
    border: none;
    outline: none;
    background: rgb(27, 67, 84);
    margin: 0;
    font-size: 1rem;
    /* color: #fff; */
    width: 60%;
    padding: 5px 10px;
    /* position: relative; */
}

#app-header h1, #app-header h5 {
    background: transparent;
}

#app-header button {
    /* position: relative; */
    border: none;
    outline: none;
    padding: 3px 10px;
    background-color: rgb(2, 216, 114);
    color: #fff;
    font-size: 1rem;
    margin: 0;
}

#new-task {
    width: 50%;
    margin-right: 5px;
}

ul li {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 75%;
    /* background-color: cadetblue; */
    /* padding-left: 10px; */
}

ul li:hover {
    cursor: pointer;
}

ul li span {
    /* background-color: bisque; */
    text-align: center;
    margin-right: 30px;
}

ul li span:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 85%);
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}