@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* GLOBAL */
body {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding: 2px;
}

#main-box {
    justify-content: center;
    margin-top: 5px;
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* FORM HEADER */
#app-header {
    background-color: rgb(217, 227, 241);
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
}

#app-header h1, #current-date {
    margin: 0;
}

#add-task {
    text-align: center;
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
    width: 100%;
    justify-content: center;
}

#new-task {
    width: 50%;
    margin-right: 5px;
}

/* APP TABLE */
#app-table {
    margin: 0;
    width: 100%;
}

.task-order, .task-check {
    text-align: center;
    padding: 0;
}

.task-name {
    padding: 0 5px 0 5px;
}

.checkbox {
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    outline: 1px solid 7fffd4;
}

.checked {
    background-color: #808080;
}

.dummyStyle {
    font-style: italic;
    font-weight: 100;
}